*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

body {
    margin: 0 auto;
}

main {
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
